
img
{
  margin-top: 5px; /* Add some white space above images */
  margin-bottom: 5px; /* Add some white space below images */
  margin-right: 25px;
}

a
{
  color: #383838;
}

a:hover  
{
  color: #db7546;
}

body
{
  color: #383838;
  font-family: 'Verdana', sans-serif;

  font-size: calc(1em + 0.25vw); /* Minimum 16x, ¶ grows more slowly (quarter rate of screen growth) */

  /*font-size: 16px; */

  /* Line-height based on font-size,
  with addition viewport-relative growth */
  line-height: 1.5;
  margin: 0.5em;

  /*line-height: 1.5em; */
  letter-spacing: 0.05em;

  text-align: left;
  
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

h1 {
  color: #383838;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  margin-top: 50px; /* Add some white space above h1 headings */
}

h2 {
  color: #383838;
  font-size: 50; /* was 32px; */
  font-weight: normal;
  text-align: left;
  margin-top: 50px; /* Add some white space above h2 headings */

  /* Line-height based on font-size,
  with addition viewport-relative growth */
  line-height: 1.5;
}

h3 {
  color: #383838;

  font-size: calc(1em + 0.25vw); /* Minimum 16x, ¶ grows more slowly (quarter rate of screen growth) */

  /* font-size: 18px; */
  
  font-weight: bold;
  text-align: left;
  margin-top: 50px; /* Add some white space above h2 headings */
}

/* when class=responsive is used in img src tag, these properties restrict sizing */
.responsive {
  width: 100%;
  min-width: 325px;
  max-width: 350px;
  height: auto;
}

/* Special style for images with a box shadow */
.boxy
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5px; /* Add some white space above images */
  margin-bottom: 5px; /* Add some white space below images */
  max-width: 900px;
}

.boxy img 
{
  width: 100%;
  height: auto;
}

/* Table style */
table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.cv_btn {
  display: inline-block;
  padding: 10px;
  border: 6px solid #048474;
  font-family: 'Verdana', sans-serif;
  font-size: 32pt; 
  /*text-decoration: none;*/
  appearance: none;
  background-color: #bedbd8;
}
.cv_btn:hover{
  background-color: #048474;
  color: rgb(255, 255, 255);
}

input {
  border: 2px solid #048474;
  height:37px;
  width:275px;
  font-size:14pt;
}

.text-center {
  text-align: center;
}

